body {
    background: rgb(255, 153, 0);
  }

  div#info {
    color: black;
    background-color: beige;
    border: 2px solid gainsboro;
    padding: 10px; 
    display: none;
  }

form , #btnClear {
  margin-top: 10px;
}

